{% extends 'security/auth.html.twig' %}

{% block page %}
    <h1>Проверьте телеграмм</h1>
    <p>Вы успешно зарегистрировались, проверьте канал в телеграмме https://t.me/+TrcLrJSuL2s3Yjli</p>
    <p>
        <a href="{{ path('app_verify', {'id': id}) }}">Ввести код подтверждения</a>
    </p>
    <p>
        <a href="{{ path('app_resend', {'id': id}) }}"
           data-controller="resend-link"
           data-action="click->resend-link#handleResend"
           data-turbo="false"
        >
            Отправить повторно
        </a>
    </p>
{% endblock %}