{% extends 'base.html.twig' %}

{% block body %}
    <h1>Check Telegram</h1>
    <p>Please check your Telegram channel for a confirmation code and enter it below.</p>
    <a href="{{ path('app_verify') }}">Enter confirmation code</a>
{% endblock %}